@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

* {
  font-family: "Nunito Sans", sans-serif;
  transition: .3s all;
}

body {
  background-color: #1a1a1a;
  color: #f8f8f8;
}

main {
  margin: 0 30px;
}

.weatherBlock {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.charts {
  display: flex;
  gap: 30px;
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 40px;
  height: 40px;
  aspect-ratio: 1;
  --c: linear-gradient(#f8f8f8 0 0);
  --r1: radial-gradient(farthest-side at bottom, #f8f8f8 93%, #f8f8f8);
  --r2: radial-gradient(farthest-side at top, #f8f8f8 93%, #f8f8f8);
  background:
    var(--c), var(--r1), var(--r2),
    var(--c), var(--r1), var(--r2),
    var(--c), var(--r1), var(--r2);
  background-repeat: no-repeat;
  animation: l1 1s infinite alternate;
}

@keyframes l1 {

  0%,
  10% {
    background-size: 8px 0, 8px 4px, 8px 4px;
    background-position: 0 50%, 0 calc(50% - 2px), 0 calc(50% + 2px), 50% 50%, 50% calc(50% - 2px), 50% calc(50% + 2px), 100% 50%, 100% calc(50% - 2px), 100% calc(50% + 2px);
  }

  90%,
  100% {
    background-size: 8px 100%, 8px 4px, 8px 4px;
    background-position: 0 50%, 0 -2px, 0 calc(100% + 2px), 50% 50%, 50% -2px, 50% calc(100% + 2px), 100% 50%, 100% -2px, 100% calc(100% + 2px);
  }
}